.background-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

.overlay-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
	padding-top: 100px;
}

.overlay-content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#player-wait-text {
	font-size: clamp(30px, 5vw, 50px);
}

#player-wait-spinner {
  margin-top: 15px;
  width: 100px;;
  height: 100px;;
}

.gradient-background {
  background: linear-gradient(to top, #ffffff, #e3f2fd);
}